@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.aboutCard {
  transition: all ease-in-out .5s;
  transform: matrix(0.88, 0, -0.63, 1, 0, 0);
}
.aboutCard:hover{
  filter: drop-shadow(18px 25px 4px #000000);
}
.active{
  background-color: #fff;
  color: black;
}
.recharts-polar-angle-axis-tick text tspan{
  fill: #fff;
  font-size: 13px;

}
.transitionAni{
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  animation: scrollAni 30s  infinite 1s alternate;
  /* radial-gradient(50% 50% at 50% 50%, #2c3c40 0%, #182226 100%) */
}
@keyframes scrollAni {
  0%{
    transform: translateY(0%);
  }
  100%{
    transform: translateY(-50%);
  }
}